@inherits LayoutComponentBase
@page "/"
@rendermode InteractiveServer

<head>
	<Navbar />

</head>


<br />
<div class="container">

	<section class="hero is-link">
		<div class="hero-body">
			<p class="title"> Se você está procurando empregadas internas ou externas , não procure mais! </p>
			<p class="subtitle">

				O recrutamento online é uma prática essencial para as empresas nos dias de hoje. Ele envolve o uso da internet como principal meio de contato com os candidatos durante o processo de seleção. Aqui estão algumas razões pelas quais o recrutamento online é importante: <hr />

				1. **Ampliação do Alcance**: O recrutamento online elimina barreiras geográficas, permitindo que as empresas atraiam talentos de diferentes regiões do país e, em alguns casos, até de outros países¹³. <hr />

				2. **Economia de Recursos**: Ao utilizar plataformas online, as empresas economizam recursos que seriam gastos em anúncios em jornais ou agências terceirizadas. Além disso, a triagem de currículos é mais rápida e eficiente¹. <hr />
				3. **Segmentação Eficiente**: Com o recrutamento online, é possível segmentar o público-alvo de forma mais eficaz, direcionando as oportunidades de emprego para candidatos específicos¹.

				Em resumo, o recrutamento online oferece vantagens significativas, como maior eficiência, alcance global e economia de recursos. É uma estratégia valiosa para as organizações modernas. Espero que essas informações sejam úteis! 😊


			</p>
		</div>
	</section>

	<p> Nome da empregada :  <input @bind="newMaid" /></p>
	<button @onclick="AdicionarMaid"  class="button is-large is-fullwidth is-success"> Adicionar Empregada  </button>

</div>

<br />
<br />


<div class="columns is-centered">

	<div class="column is-one-fifth">
		
	
		<Galery />
	</div>
</div>


<ul>
	<p> Lista das empregadas </p>

	@foreach (var maid in maids)
	{
		//<li>@maid.Maidid</li>
		<li>
			<h1>@maid.Nome</h1>
			<input @bind="maid.Nome" />

			
		</li>
		//<li>@maid.Address</li>
		//<li>@maid.Reputation</li>
		//<li>@maid.Telefone</li>
		//<li>@maid.Email</li>
	}
</ul>

@code {
	private List<AddMaid> maids = new();
	string newMaid = "";

	void AdicionarMaid()
	{
		if (!string.IsNullOrWhiteSpace(newMaid))
		{
			maids.Add(new AddMaid { Nome =  newMaid});
			newMaid = string.Empty;
		}
	}

}
